.header { 
    display: flex;
    justify-content: space-between;
  
    background-color: forestgreen;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}
a { 
    text-decoration: none;
    color: bisque;
}
